extends layout

block content  
        div(class="container p-4")
            h3 General Statistics 
            hr
            div(class="col mt-3")
                h5 User Counts 
                div(class="row")
                    div(class="col mt-2")
                        p Voters
                        h5 #{stats.voters} 
                    div(class="col mt-2")
                        p Candidates 
                        h5 #{stats.candidates}
            hr
            div(class="col mt-4")
                h5 Voting Statistics
                div(class="row")
                    div(class="col-md-6 mt-3")
                        p Voting Duration 
                        div(class="col") 
                            b #{stats.duration.days} Days #{stats.duration.hours} Hours #{stats.duration.mins} Minutes #{stats.duration.secs} Seconds 
                    div(class="col mt-3") 
                        p Eligible Voters Voted
                        h5 #{stats.eligible}
                div(class="row mt-3")
                    div(class="col")
                        p No. of Parties Involved 
                        h5 #{stats.parties}
                    div(class="col")
                        p No. of Areas 
                        h5 #{stats.areas}
                     


                